.selected {
    background-color: #008B8B !important;
    color: #ffffff !important;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.invisible {
    display: none;
}

.form-control {
	border-radius: 0 !important;
}

#overlay-forbid {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
}

#text-over {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#img-preview{
    /*display:none;*/
    width : 60px;
    height : 60px;
}

.img-select2 {
    width: 50px;
    height: 50px;   
}

